<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav><h1>Produtos</h1></nav>
    {{{body}}}
    <footer>
        <p>Feito por Thyago Erick 😴</p>
    </footer>
</body>
</html>